img.maxi { position: relative; border: 2px solid #dddddd;
 padding: 0; background: url(empty.gif) no-repeat;
 cursor:crosshair; 
 box-sizing: content-box;
}
/* img.maxi { cursor: -moz-zoom-in; } */
img.maxi:hover { border-color: red; }

