/**
  B3 : Simple blogging for PmWiki
  Written by (c) 2017 Petko Yotov www.pmwiki.org/petko

  This text is written for PmWiki; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published
  by the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version. See pmwiki.php for full details
  and lack of warranty.

  Copyright 2017 Petko Yotov www.pmwiki.org/petko
*/

.b3-subheader, .b3-subheader a, .b3-trail, .b3-trail a { color: #888; }
.b3-subheader { 
  padding: .4em 0;
  border-bottom: 1px dotted #888;
  margin-bottom: .4em;
}
.b3-intro .b3-subheader {
  border: none;
}
#b3-after {
  width:50em;
  max-width: 100%;
  margin: 1em auto;
}

.b3-trail, .b3-comment, .b3-talkform, #b3-commentlist > p {
  padding: .6em;
  margin: .4em 0;
}

.b3-trail {
  border: none;
}

div.b3-comments {
  padding: 0;
}

form.b3-talkform input[type=text], form.b3-talkform textarea {
  width: 50em;
  max-width: 100%;
  margin: .4em 0;
  padding: .4em;
  border: 1px solid #888;
}

form.b3-talkform input.captcha {
  width: auto;
}

.b3-comments > ul, .b3-comments > ul > li > ul, .b3-comments > ul > li > ul > li > ul {
  margin: 0; padding: 0; list-style-type: none;
}

li.b3-comment {
  margin: 1em 0 1em .5em;
  border: 1px solid #ddd;
}

li.b3-comment.hidden, li.b3-comment.HIDDEN, div.b3-intro.DRAFT, div.b3-fullpost.DRAFT {
  border: 2px dashed #888; 
  opacity: .7;
}

div.b3-intro {
  margin: 1em 0;
}

.b3-comments > ul > li.b3-comment {
  margin: 1em 0;
}
li.b3-comment > .date, li.b3-comment > b {
  color: #888;
}

li.b3-comment > .date {
  float: right;
}

.b3-commenttext {
  padding-top: .4em;
}
.b3message {
  border-width: 4px; padding: .5em;
}
.b3alert {
  border-color: red;
}

.wikimessage {
  border: 4px solid red;
  color: red;
  padding: .4em;
}
.captchaimg {
  vertical-align: middle;
}

.b3-newpostform {
  padding: .4em 1em;
}
